Прочее/Скриншоты с ПК/1.png
Прочее/Скриншоты с ПК/2.png
Прочее/Скриншоты с ПК/3.png
Прочее/Скриншоты с ПК/5.png
Прочее/Скриншоты с телефона/Screenshot_2025_06_06_20_46_46_95_b13c7655225956067387931bb4d781b0.jpg
Прочее/Скриншоты с телефона/Screenshot_2025_06_06_20_51_04_28_b13c7655225956067387931bb4d781b0.jpg
Прочее/Скриншоты с телефона/Screenshot_2025_06_06_20_52_05_75_b13c7655225956067387931bb4d781b0.jpg
Прочее/Скриншоты с телефона/Screenshot_2025_06_06_20_54_40_63_b13c7655225956067387931bb4d781b0.jpg
Прочее/Скриншоты с телефона/Screenshot_2025-06-06-20-50-35-99.jpg
Прочее/Скриншоты с телефона/Screenshot_2025-06-06-20-51-40-26.jpg
mood_base.db
users.db
Прочее/описание проекта.docx
Прочее/Для обложки/Обложка Kwork.png
Прочее/Для обложки/обложка Kwork.psd
Прочее/Скриншоты с ПК/4.png
Прочее/Скриншоты с ПК/Обрезанные/1.png
Прочее/Скриншоты с ПК/Обрезанные/2.png
Прочее/Скриншоты с ПК/Обрезанные/3.png
Прочее/Скриншоты с ПК/Обрезанные/4.png
Прочее/Скриншоты с ПК/Обрезанные/С надписями/1.png
Прочее/Скриншоты с ПК/Обрезанные/С надписями/2.png
Прочее/Скриншоты с ПК/Обрезанные/С надписями/3.png
Прочее/Скриншоты с ПК/Обрезанные/С надписями/4.png
